

@font-face {
    font-family: 'MuseoSansW01-Rounded100';
    src: url('../fonts/Museo Sans W01 Rounded 100.woff') format('woff2'),
         url('../fonts/Museo Sans W01 Rounded 100.woff2') format('woff');
    font-weight: bold;
    font-style: normal;

}

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100vh;
}

body {
	font-family:  "MuseoSansW01-Rounded100", sans-serif;
	font-size: 1.4rem;
	line-height: 1.3;
	color: #e1e1e1;
	min-height: 100%;
	background: #c5c5c8  no-repeat;
	background-image: url('../img/main_bg.jpg');
	background-size: cover ;
}


.container {
	margin: 0  auto;
	width: 690px;
}

main {
	padding: 200px 0 0;
}


.card {
	min-height: 400px;
	
	background-color: #111a28;
	display: flex;
	border-radius: 15px;
	box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.85);
}

.card__gallery{
	flex-basis: 66%;
	background-repeat: no-repeat;
	position: relative;

}

.logo {
	text-decoration: none;
	position: absolute;
	top: 6%;
	left: 5%;
}

.logo__img {
	width: 65px;
	transition: all .4s ease-in;
}
.logo__img:hover,
.logo__img:focus,
.logo__img:active {
	transform: scale(1.2); 
}

.card__img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-height: 70%;
	max-width: 90%;
}



.color-previews {
	padding: 0;
	position: absolute;
	left: 50%;
	bottom: 3%;
	transform: translate(-50%,0);
		
}

.color-previews__item {
	display: inline-block;
	margin: 0 10px;
	transition: all .4 ease-in;
}

.color-previews__item input[type="radio"] {
    display:none; 
}

.color-previews__item label {
    display:inline-block;
    border-radius: 50%;
    border: 2px solid transparent;
    padding: .5em;
   
}

.color-previews__item input[type="radio"]:checked + label { 
    border-color: grey;

}

.color-previews__item--purple {
	background-color: #1f273f;
} 

.color-previews__item--white {
	background-color: #ffffff;
} 

.color-previews__item--red {
	background-color: #ed3333;
} 
.color-previews__item--blue {
	background-color: #29e3ea;
} 


.color-previews__item label:hover, 
.color-previews__item label:focus,
.color-previews__item label:active {
	opacity: .7;
}

.card__info {		
	flex-basis: 34%;
	padding: 80px 30px;
				  		
}

.card__title{
	font-size: 1.71em;
	margin: 0 0 .3em 0;
}

.card__description {
	opacity: .3;
	margin: 0;

}

.card__stars {
	padding: 0;
	margin: 20px 0 20px;
	display: inline-block;
}

.card__star {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0MjYuNjY3IDQyNi42NjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQyNi42NjcgNDI2LjY2NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCI+Cjxwb2x5Z29uIHN0eWxlPSJmaWxsOiNGQUM5MTc7IiBwb2ludHM9IjIxMy4zMzMsMTAuNDQxIDI3OS4yNDksMTQ0LjAxNyA0MjYuNjY3LDE2NS40MzYgMzIwLDI2OS40MSAzNDUuMTczLDQxNi4yMjYgMjEzLjMzMywzNDYuOTEgICA4MS40ODUsNDE2LjIyNiAxMDYuNjY3LDI2OS40MSAwLDE2NS40MzYgMTQ3LjQwOSwxNDQuMDE3ICIvPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

[data-stars="0"] .card__star:nth-child(n + 1),
[data-stars="1"] .card__star:nth-child(n + 2), 
[data-stars="2"] .card__star:nth-child(n + 3), 
[data-stars="3"] .card__star:nth-child(n + 4),
[data-stars="4"] .card__star:nth-child(n + 5)  {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQyNi42NjcgNDI2LjY2NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDI2LjY2NyA0MjYuNjY3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIGNsYXNzPSIiPjxnPjxwb2x5Z29uIHN0eWxlPSJmaWxsOiNGRkZGRkYiIHBvaW50cz0iMjEzLjMzMywxMC40NDEgMjc5LjI0OSwxNDQuMDE3IDQyNi42NjcsMTY1LjQzNiAzMjAsMjY5LjQxIDM0NS4xNzMsNDE2LjIyNiAyMTMuMzMzLDM0Ni45MSAgIDgxLjQ4NSw0MTYuMjI2IDEwNi42NjcsMjY5LjQxIDAsMTY1LjQzNiAxNDcuNDA5LDE0NC4wMTcgIiBkYXRhLW9yaWdpbmFsPSIjRkFDOTE3IiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjRjhGOEY4Ij48L3BvbHlnb24+PC9nPiA8L3N2Zz4=);
}


.card__select {
	display: inline-block;
    position: relative;
}

.card__select::after{
	 content: '\f078';
    font-family: FontAwesome;
    position: absolute;
    right: 4%;
    top: 16%;
    z-index: 5;	
}

.card__select::before{
	 content: '\f078';
    font-family: FontAwesome;
    position: absolute;
    right: 55%;
    top: 16%;
    z-index: 5;	
}

.card__select select{
	width: 70px;
	height: 30px;
	padding-left: 10px;
	background-color: transparent;
	color: #e1e1e1;
	opacity: .7;
	z-index: 10;
}


.card__select option {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__btn {
	margin-top: 30px;
	padding: 13px 50px;

	text-decoration: none;
	color: #e1e1e1;
	border: .3px solid #e1e1e1;
	background-color: #202835;
	opacity: .7;
}

.card__btn a {
	text-decoration: none;
	color: #e1e1e1;

}
